*{
    margin: 0;
    padding: 0;
}
h1{
    color: #a1c853;
    font-size: 50px;
}
body{
    background-color: #283618;
    text-align: center;
}
.container{
    height: 70vh;
    /* width: 70vh; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    background-color: #7175b0;
    box-shadow: 0 0 0 black(0 0 0 1 0.5);
    font-size: 7vmin;
    color: #e22f1f;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    /* height: 9vmin;   */
    /* width: 15vmin; */
    background-color: rgb(255, 127, 127);
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    /* height: 9vmin;   */
    /* width: 15vmin; */
    background-color: rgb(255, 127, 127);
    border-radius: 1rem;
    border: none;
}
#msg {
    color: #7175b0;
    font-size: 7vmin;
}
.msg-box {
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    /* flex-wrap: wrap; */
}
.hide {
    display: none;
}